#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE             VFT_DRV
#define VER_FILESUBTYPE          VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR  "ppl_runner Driver"
#define VER_INTERNALNAME_STR     "elam_driver.sys"

#include "common.ver"
MicrosoftElamCertificateInfo  MSElamCertInfoID
{
      1,
      L"A7EBFCFB9E0CD724DEE51F980728B12FF911F72006618DFF6F96FF4111CE3758\0",
      0x800C,
      L"\0"
}
